@import "../../../colors";

.groups-feed-page-container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 80px);
  flex-direction: row;

  .groups-info-left-pannel-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
    padding: 13px 5px 0px 5px;

    .pannel-header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: baseline;
      margin-bottom: 11px;

      .left-pannel-title {
        font-size: 16px;
        color: $button-purple2;
        font-weight: 500;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: space-between;

      li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-top: 1px solid black;
        border-left: 1px solid black;
        text-overflow: ellipsis;
        color: $button-purple1;
        font-size: 12px;
        height: 46px;

        &.bold {
          font-weight: 500;
        }

        &:first-child {
          border-left: 0px;
        }

        &.smaller {
          width: calc(20% - 1px);
        }

        &.medium {
          width: calc(30% - 1px);
        }

        &.bigger {
          width: calc(50% - 1px);
        }
      }

      &.with-hover {
        cursor: pointer;

        &:hover {
          li {
            color: $button-purple2;
            background-color: $cockatiel-grey;
          }
        }
      }

      .edit-container,
      .exclude-container {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 5px;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        top: 12px;
        font-size: 12px;
        background-color: $button-purple1;
        cursor: pointer;
        color: $white;

        &:first-of-type {
          right: 35px;
        }

        &:hover {
          background-color: $button-purple2;
        }
      }

      &.with-bottom-border {
        border-bottom: 1px solid black;
      }
    }
  }

  .right-pannel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: $cockatiel-grey;
    width: 300;
    min-width: 300px;
    padding-top: 13px;
    padding: 13px 10px 0px 10px;

    .right-pannel-title {
      font-size: 16px;
      color: $button-purple2;
      font-weight: 500;
      margin-bottom: 11px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: space-between;
      position: relative;

      li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: calc(75% - 1px);
        border-top: 1px solid black;
        border-left: 1px solid black;
        text-overflow: ellipsis;
        font-size: 12px;
        height: 46px;

        &.bold {
          font-weight: 500;
        }

        &:first-child {
          width: 25%;
          border-left: 0px;
        }
      }

      &.with-bottom-border {
        border-bottom: 1px solid black;
      }

      .exclude-container {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 5px;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        top: 12px;
        font-size: 12px;
        background-color: $button-purple1;
        cursor: pointer;
        color: $white;

        &:first-of-type {
          right: 5px;
        }

        &:hover {
          background-color: $button-purple2;
        }
      }
    }
  }

  .manage-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .manage-post-title {
      font-size: 40px;
      color: $button-purple1;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 0px;
    }

    form {
      margin: 20px 0px;
    }
  }

  .usr-loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
