$white: #ffffff;

$grey-background: #282c34;
$grey-header: #3c414b;




$white1: #D3D3D3;
$white2: #dadada;

$input: #ccc;
$input-blue: rgba(81, 203, 238, 1);

$button-purple1: #824caf;
$button-purple2: #5e3a7c;

$cockatiel-grey: #d3d3d3;