@import "../../colors";

.header-container {
  display: flex;
  position: sticky;
  top: 0px;
  flex-direction: row;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  background-color: $grey-background;

  .icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .img-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      width: 300px;

      img {
        height: 60px;
        width: 60px;
        cursor: pointer;

        &:hover {
          filter: saturate(0.5);
        }
      }
    }
  }
}
