@import "../../colors";

.group-routes-container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 80px);
  flex-direction: row;

  .left-pannel {
    display: flex;
    width: calc(100% - 300px);
    flex-direction: column;
  }

  .right-pannel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: $cockatiel-grey;
    width: 300;

    button {
      width: 100%;
      min-width: unset;
      border-radius: 0px;
      border: 1px solid $grey-background;
    }
  }

  .loader-container {
    margin-top: 30px;
  }
}
