@import "../../../colors";

.groups-page-container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 80px);
  flex-direction: row;

  .pannel-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
    padding: 13px 5px 0px 5px;

    .left-pannel-title {
      font-size: 16px;
      color: $button-purple2;
      font-weight: 500;
      margin-bottom: 11px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: space-between;

      li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-top: 1px solid black;
        border-left: 1px solid black;
        text-overflow: ellipsis;
        color: $button-purple1;
        font-size: 12px;
        height: 46px;

        &.bold {
          font-weight: 500;
        }

        &:first-child {
          border-left: 0px;
        }

        &.smaller {
          width: calc(20% - 1px);
        }

        &.medium {
          width: calc(30% - 1px);
        }

        &.bigger {
          width: calc(50% - 1px);
        }

        &.with-hover {
          cursor: pointer;

          &:hover {
            color: $button-purple2;
            background-color: $cockatiel-grey;
          }
        }
      }

      .edit-container,
      .exclude-container {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 5px;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        top: 12px;
        font-size: 12px;
        background-color: $button-purple1;
        cursor: pointer;
        color: $white;

        &:first-of-type {
          right: 35px;
        }

        &:hover {
          background-color: $button-purple2;
        }
      }

      &.with-bottom-border {
        border-bottom: 1px solid black;
      }
    }
  }

  .usr-loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
